@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500&family=Nunito&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #333;
    color: #222;
}



.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    max-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-15deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-90deg);
}


.circle button {
    cursor: pointer;
    position: absolute;
    top: 42%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}


.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left:0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;

}

nav ul li:hover {
    position: relative;
    top: -5px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
}

.content small {
    color: rgb(48, 47, 47);
    font-style: italic;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    
}

.content h3 {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.content p {
    margin: 20px 0 30px 0;
    color: #333;
    line-height: 2;
}

.content section {
 width: 100%;
 height: 300px;
 transform-style: preserve-3d;
 perspective: 500px;
 background-color: #e84a5f;
}

.content section h2 {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 300px;
    font-size: 10vw;
    color: #fff;
    font-weight: 700;
}
section .banner {
    position: relative;
    top: -80px;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

section .banner .blocks {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate 2s ease-in-out forwards;
    
}

@keyframes animate {
    0%
    {
        transform: translateZ(200px);
    }
    100%
    {
        transform: translateZ(0px);
    }
}

.content .portfolio {
    color: #ff7979;
    text-decoration: none;
    font-weight: 600;
}


.content .portfolio span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content .portfolio:hover span {
    color: red;
    transform: translateY(-5px);
    font-size: 22px;
}


footer {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

footer a {
  color: rgb(150, 146, 146);
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

footer a:hover {
    color: rgb(224, 201, 201);
  }

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 10px;
    font-size: 25px;
}

.social-media li {
    padding: 20px;
    line-height: 40px;
}

.social-media a{
    transition: 200ms all ease-in-out;
}
.social-media a:hover {
    color: white;
    position: relative;
    top: -5px;
    font-size: 30px;
}

/* contact */
.contact-content {
    text-align: center;
    background-color: #ff7979;
    border-radius: 15px;
    padding: 30px;
    color: white;
}

form {
    margin: 10px 0;
    
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
    
}

.form-control input {
    font-size: 18px;
    padding: 15px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    color: white;
}

.form-control textarea {
    font-size: 18px;
    padding: 15px 15px;
    background-color: white;
    border: 2px #fff solid;
    display: block;
    width: 100%;
    height: 200px;
    
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom: white;
}

.checkbox {
    margin-bottom: 30px;
    width: 15px;
    height: 15px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 15px;
    font-family: inherit;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    color: #f06969;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: white;
    transform: translateY(-30px);
}


/* about */

.magic {
    background-color: #e84a5f;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(252, 82, 125, 0.5);
    margin: 0 auto;
    display: block;
    z-index: 100;
    margin-top: 60px;
    margin-bottom: 30px;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes { 
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 340px;
  width: 340px;
  transition: 0.4s ease;
}

.boxes.big {
    width: 420px;
    height: 420px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url("https://media.giphy.com/media/UW7dETXIAsCK5m0tkM/giphy.gif");
    background-repeat: no-repeat;
    background-size: 340px 340px;
    position: relative;
    height: 85px;
    width: 85px;
    transition: 0.4s ease;
}

.box::after {
    content: "";
    background-color: #ff847c;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: "";
    background-color: #e84a5f;
    position: absolute;
    bottom: -15px;
    left: 8px;
    width: 100%;
    height: 15px;
    transform: skewX(45deg);
}

.boxes-second { 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 340px;
    width: 340px;
    transition: 0.6s ease;
    margin-top: 60px;
    
  }
  
  .boxes-second.big-second {
      width: 480px;
      height: 480px;
      background-color: rgb(240, 202, 36);
      border-radius: 300px;
      padding-top: 32px;
  }
  
  .boxes-second.big-second .box-second {
      transform: rotateZ(135deg);
  }
  
  .box-second {
      background-image: url("img/Crypto\ Moo\ 10.2.jpg");
      background-repeat: no-repeat;
      background-size: 340px 340px;
      position: relative;
      height: 42.5px;
      width: 42.5px;
      transition: 0.8s ease;
      border-radius: 5px;
      
  }
  
  .box-second::after {
      content: "";
      background-color: rgb(248, 221, 100);
      border-radius: 300px;;
      position: absolute;
      top: 4.6px;
      right: -10px;
      height: 100%;
      width: 10px;
      transform: skewY(45deg);
      border-radius: 5px;
  }
  
  .box-second::before {
      content: "";
      background-color:rgb(221, 186, 32);
      border-radius: 300px;;
      position: absolute;
      bottom: -10px;
      left: 4px;
      width: 100%;
      height: 10px;
      transform: skewX(45deg);
      border-radius: 5px;
  }

  .container.about {
    max-height: 3200px;
  }

  .magic-second {
    background-color:black;
    box-shadow: 0 3px rgba(50, 50, 51, 0.5);
  }


  /* about third animation */

  .third-instruction {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 20px;
 
  }
  .container-third {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .square {
    background-color: #3a3939;
    box-shadow: 0 0 2px #000;
    height: 20px;
    width: 20px;
    margin: 2px;
    transition: 4s ease;
  }

  .square:hover {
    transition-duration: 0s;
  }


@media (min-width: 786px) {
    .container {
        width: 600px;
        margin: 0 auto;
    }

    .content section h2 {
        font-size: 60px;
    }
